<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователь: {{ user.name }}</title>
</head>
<body>
<h1>Пользователь: {{user.name}}</h1>
<nav><a href="/users">← Все пользователи</a></nav>
<h2>Подписки</h2>
{% if subscriptions %}
<ul>
    {% for curr in subscriptions %}
    <li>{{ curr.char_code }} — {{ curr.name }} ({{ "%.4f"|format(curr.value) }} RUB за {{ curr.nominal }})</li>
    {% endfor %}
</ul>
<h3>Динамика курсов валют за последние за 3 месяца</h3>
<!-- TODO: сделать график на джаваскрипте-->
<div id="chart-container" style="width: 800px; height: 400px;"></div>
{% else %}
<p>Пользователь не подписан на курсы валют</p>
{% endif %}
<footer>Приложение отображает курсы валют ЦБ РФ и позволяет пользователям подписываться на них</footer>
</body>
</html>