<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Пользователь: {{ user.name }}</title>
</head>
<body>
<h1>Пользователь: {{user.name}}</h1>
<nav><a href="/users">← Все пользователи</a></nav>

<h2>Подписки</h2>
{% if subscriptions %}
<ul>
    {% for curr in subscriptions %}
    <li>{{ curr.name }} - {{ "%.4f"|format(curr.value / curr.nominal) }} RUB за 1 {{ curr.char_code }}</li>
    {% endfor %}
</ul>

{% else %}
<p>Пользователь не подписан на курсы валют</p>
{% endif %}

</body>
</html>